# Secrets needed to run the build script
secrets = [
    linode_token    = "",
    authorized_users = [
        ""
    ],
    authorized_keys =  [
        "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5A...",
        "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5A..."
    ]
]