# Variables for Packer
linode_instance = {
    region              = "fr-par"
    instance_type       = "g6-nanode-1"
    instance_label      = "packer-ubuntu24.04"
    image               = "linode/ubuntu24.04"
    image_label         = "ubuntu24.04-acc-packer-image-${local.timestamp}"
    image_description   = "ubuntu24.04 - ACC Packer Image"
    linode_tags         = ["ubuntu24.04", "packer"]
    private_ip          = false
}